ul {
    border: 1px solid #777;
    background: url("menu.svg") no-repeat;
    padding-left: 40px;
    li {
        display: inline-block;
        background-color: #bbb;
        transition: background-color .25s ease;
        &:hover,
        &:focus {
            background-color: #000;
        }
    }
    a {
        display: block;
        padding: 0 20px;
        line-height: 30px;
    }
}