extends ../base
block title
    | Index page
block main
    main#main(role="main")
        .page-wrapper.text-center
            h1.text-upper Главная
            img(src=require("./webpack.svg") width="100")/