extends ../base
block head
    include ../../templates/partials/common/head.pug
block main
    main#main(role="main")
        .page-wrapper
            h1.text-upper.text-center Новости
            p.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aspernatur saepe veritatis facilis. 
                Vitae, temporibus necessitatibus culpa amet, quibusdam natus eaque veritatis in repudiandae, sit maiores! 
                Laudantium pariatur molestiae qui mollitia!
block footer
    include ../../templates/partials/common/footer.pug
block js
    include ../../templates/partials/common/js.pug